<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Streaming App</title>  
</head>
<body>
    <h1>Welcome to the Music Streaming App</h1>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
    <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
    <h2>Songs List</h2>
    <ul>
        {% for song in songs %}
        <li>
            <a href="{{ url_for('player', song_id=song.id) }}">{{ song.title }} by {{ song.artist }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
<link rel="" href="">
</html>
